* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 375px;
    width: 95%;
    margin: 0 auto;
    padding: 2rem;
}

label {
    display: block;
    margin-bottom: 1rem;
}
select {
    width: 100%;
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}

.stackPreview {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    flex: 1;
}

.stackAndIconWrapper {
    display: flex;
    align-items: center;
}

.stackIcon svg {
    width: 1.5rem;
    height: 1.5rem;

}

.stackName {
    text-transform: lowercase;
}