/* Impporting my fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --font-primary: -apple-system, BlinkMacSystemFont, "SF Compact", "Helvetica Neue", Arial, sans-serif;
    --font-secondary: 'Manrope', sans-serif;
    --highlight-color: #B9FD50;
    --bg-color: #111204;
    --font-color: #fff;
    --btn-text-color: #111204;
}

body {
    font-family: var(--font-primary), var(--font-secondary);
    background: var(--bg-color);
    color: #fff;
}

button {
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 95%;
    padding: 1rem 0;
    // border: 1px solid #fff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border: 1px solid #fff;
    padding: 0.6rem;
    border-radius: 2rem;
    justify-content: center;
    max-width: 13rem;
    margin: 0 auto;
  }

  .logo .icon-wrapper {
    background: var(--highlight-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .logo .icon-wrapper .icon {
    color: var(--btn-text-color);
    font-weight: 800;
    font-size: 1rem;
  }
  .logo .txt {
    color: var(--font-color);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: -0.063rem;
  }

  header {
    min-height: 100vh;
  }

  .heroContents {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }


  .heroContents .left .mockupOne {
    width: 11.82025rem;
    height: 29.77006rem;
    transform: rotate(-15deg);
    flex-shrink: 0;
  }

  .heroContents .right .mockupTwo {
    width: 11.82025rem;
    height: 29.77006rem;
    transform: rotate(15deg);
    flex-shrink: 0;
  }

  .heroContents .center {
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    // border: 1px solid #fff;
    filter: drop-shadow(-5px 2px 39px rgba(185, 253, 80, 0.6));

    h2, p {
        text-align: center;
    }

    .heading {
        position: relative;

        .heading-txt {
            font-size: 4rem;
            line-height: 5.625rem; 
            text-transform: capitalize;
            
            .highlight-txt {
                font-style: italic;
                color: var(--highlight-color);
            }  
        }

        svg {
            position: absolute;
            top: 1;
            bottom: 0;
            right: 10rem;

         }
    }



    .subContent {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 2.25rem;
        color: rgba($color: #fff, $alpha: 0.8);
    }

    .call-to-actionBtn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;
        border: none;
        background: var(--highlight-color);
        padding: 1rem 2.5rem;
        border-radius: 3rem;
        transition: background-color 0.3s ease;
        margin: 0 auto;
        margin-top: 3rem;

        p {
            font-size: 1.375rem;
            font-weight: 500;
            color: var(--btn-text-color);
        }
    }
  }

  .mobileMockup {
    display: none;
  }

  .bannerContainer {
    padding: 3rem;
  }

  .bannerImage {
    border-radius: 1rem;
  }

  .cardContainer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;

  }

  .cardContainer .card {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    gap: 1.4rem;
    flex: 1;
  }

  .cardContainer .card .arrowAndHead {
    display: flex;
    // align-items: center;
  }

  .cardContainer .card .arrowAndHead .head {
    background: var(--highlight-color);
    border-radius: 50%;
    padding: 0.9rem;

    svg {
        margin: 0 auto;
    }
  }


  .cardContainer .card .arrowAndHead svg {
    margin-left: -1rem;
  }

  @media (max-width: 785px) {
    .container {
        max-width: 785px;
        margin: 0 auto;
        width: 95%;
    }

    .heroContents .mockup {
        display: none;
    }
  }

  /* Mobile media query starts here */
  @media (max-width: 375px) {
    .container {
        max-width: 375px;
        margin: 0 auto;
        width: 95%;
        padding: 2rem 0;
    }

    .heroContents .center {
    
        .heading {
    
            .heading-txt {
                font-size: 2.6rem;
                line-height: 4.4rem; 
            }
        }
    
        .subContent {
            font-size: 1rem;
        }
    
        .call-to-actionBtn {
            margin-top: 1.4rem;
        }
      }

      .mobileMockup {
        // display: flex;
        // max-width: 375px;
        display: block;
        margin-top: 2rem;
        // margin: 0 auto;
      }

      .mobileMockup .mockupOne {
        width: 16rem;
        height: 32.77631rem;
        transform: rotate(-15deg);
        flex-shrink: 0;
        margin: 0 auto;
      }

    //   .mobileMockup .mockupTwo {
    //     margin-left: -22rem;
    //     // transform: rotate(-15deg);
    //   }

}
  /* Mobile media query ends here */