/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

/* Adding colors to my variables */
:root {
    --bg-color: #18082E;
    --txt-highlight-color: #B777F4;
    --font-color: #FFFFFF;
    --font: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;

}

html, body {
    font-family: var(--font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: var(--bg-color);
    color: #fff;
    -webkit-font-smoothing: antialiased;
} 

.container {
    max-width: 375px;
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border: 1px solid #fff;
    padding: 0.8rem;
    border-radius: 2rem;
    justify-content: center;
    max-width: 13rem;
    margin: 0 auto;
    .icon-wrapper {
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;

    }

    .icon-wrapper .icon {
        color: var(--txt-highlight-color);
        font-weight: 800;
        font-size: 0.7rem;
    }

    .txt {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: -0.063rem;
    }
}

.heading {
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2rem;
}

.userForm {
   
    .userDetails {
        margin: 0.8rem 0;

        label {
            display: block;
            margin-bottom: 0.6rem;
            font-weight: 600;
        }

        input {
            width: 100%;
            padding: 0.35rem;
            outline: none;
            border: none;
            border: 0.5px solid rgba($color: #fff, $alpha: 0.6);
            background: none;
            color: #fff;
            font-size: 1.4rem;
            font-weight: 500;
            border-radius: 0.4rem;
        }

        input::placeholder {
            color: rgba($color: #fff, $alpha: 0.6);
            opacity: 0.7;
            font-size: 1.19rem;
        }

        fieldset {
            border: none;

            legend {
                font-weight: 600;
                margin-bottom: 0.6rem;
            }

            .socialWrapper {
                margin-bottom: 0.7rem;

                .iconAndInputWrapper {
                    display: flex;
                    align-items: center;
                    flex-direction: row-reverse;
                    position: relative;
                    border: 1px solid rgba($color: #fff, $alpha: 0.6);
                    border-radius: 0.4rem;
                    padding-left: 0.5rem;

                    input {
                        border: none;
                    }
                }
            }
        }


    }
}


.stackPreview {
    display: flex;
    align-items: center;
    gap: 0.48rem;
    flex-wrap: wrap;
    flex: 1;
}

.stackAndIconWrapper {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border: 1px solid #B777F4;
    border-radius: 0.4rem;
    padding: 0.4rem 0.6rem;

    .delBtn {
        background: none;
        border: none;
        color: #B777F4;
        font-weight: 600;
        font-size: 1rem;
        margin-left: 0.1rem;

    }
}

.stackIcon svg {
    width: 1rem;
    height: 1rem;

}

.stackName {
    text-transform: lowercase;
    color: #B777F4;
}

.userDetails.searchWrapper {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.4rem;

}



.userDetails.searchWrapper .search {
    border: none;
}

.userDetails.searchWrapper button {
    // position: absolute;
    background: none;
    border: none;
    margin-right: 1rem;
}

.userDetails.searchWrapper .search:focus {
    outline: none;
    border-color: #B777F4;
    border-width: 0.1249rem;
}

.stackSelect {
    width: 100%;
    padding: 0.6rem 0;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    background: #0d1b2a;
    appearance: none;
    color: rgba($color: #fff, $alpha: 0.7);
}

.stackSelect option:not(.disabledStack) {
    padding: 0.4rem;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
}

.stackSelect .disabledStack {
    padding: 0.4rem;
}

.stackSelect option:not(.disabledStack):hover {
    background: #1F2937;
    color: #B777F4;
}

.stackSelect:focus {
    border-color: #B777F4;
    outline: none;
  }

.stackSelect option:not(.disabledStack):checked {
    background: #232040;
    color: #B777F4;
}

.countSelected {
    color: rgba($color: #fff, $alpha: 0.7);
    font-weight: 500;
}

.btn {
    border: none;
    background: none;
    color: #7E22CE;
    width: 100%;
    background: #fff;
    padding: 0.6rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
}

.generateBtn:hover {
    background: #150B2D;
    border: 1px solid rgba($color: #fff, $alpha: 0.6);
}

.previewBtn {
    margin-top: 3rem;
}

.downloadBtn:hover {
    background: #150B2D;
    border: 1px solid rgba($color: #fff, $alpha: 0.6);
}

/* Styling of banner starts here */

// .containerBanner {
//     max-width: 375px;
//     margin: 0 auto;
//     width: 95%;
//     display: none;
// }

.bannerWrapper {
    max-width: 1500px;
    height: 500px;
    background-color: #7E22CE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-items: flex-end;
    flex-direction: column;
    display: none;

    .fullNameBanner {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .fieldBanner {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .socialsBannerWrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: 1.2rem;

        .twitter, .github {
            display: flex;
            align-items: center;
            gap: 0.2rem;
        }

        .twitterBanner, .githubBanner {
            font-size: 1.5rem;
            font-weight: 600;
        }
        .line {
            width: 0.03rem;
            height: 1rem;
            background: #fff;
        }
    }

    .stacksWrapperBanner {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        align-self: flex-end;
        // justify-self: flex-end;
    }

    .stackTxt {
        font-size: 2rem;
        font-weight: 700;
    }

    .stackIconBanner {
        background: #fff;
        padding: 0.5rem;
        border-radius: 0.4rem;
        
        svg {
            width: 3rem;
            height: 3rem;
        }
    }

}

/* Styling of banner ends here */

@media (min-width: 768px) {
    .containerBanner {
        display: block;
    }

    .bannerWrapper {
        display: flex;
        max-width: 1500px;
        height: 500px;
    }
}


/* Media query for tablet starts here */

/* Media query for tablet ends here */
  
/* Downloading container opens */


.bannerDownload {
    width: 1500px;
    height: 500px;
    display: flex;
}








